cfgv==3.5.0
coverage==7.13.5
distlib==0.4.0
filelock==3.28.0
identify==2.6.18
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.1
platformdirs==4.9.6
pluggy==1.6.0
pre_commit==4.5.1
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
python-discovery==1.2.2
python-dotenv==1.2.2
PyYAML==6.0.3
ruff==0.15.11
virtualenv==21.2.4
